
* {
  box-sizing: border-box;
}

body{
  background-image: url(../imatges/fondo.png);
  font-family:Verdana;
  background-size: cover;
}
.linia{
animation: colorRotate 7s linear 0s infinite;
animation-fill-mode: forwards;
}

@keyframes colorRotate {
  from {
    border-bottom: 5px solid #6666ff;
  }
  10% {
    border-bottom: 5px solid #0099ff;
  }
  50% {
    border-bottom: 5px solid #00ff00;
  }
  75% {
    border-bottom: 5px solid #ff3399;
  }
  100% {
    border-bottom: 5px solid #6666ff;
  }
}

.menu {
  float:left;
  width:20%;
  text-align:center;
  padding:0 20px;
}
.menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}
.main {
  float:left;
  width:60%;
  padding:0 20px;
}
.right {
  float:left;
  width:20%;
  text-align:center;
}

.footer{
  text-align:center;
  padding:10px;
  margin-top:10px;
  border-radius: 40px;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}
