

* {
  box-sizing: border-box;
}

body{
  background-image: url(../imatges/fondo.png);
  font-family:Verdana;
  background-size: cover;
}
.linia{
animation: colorRotate 10s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    border-bottom: 2px solid #6666ff;
  }
  10% {
    border-bottom: 2px solid #0099ff;
  }
  50% {
    border-bottom: 2px solid #00ff00;
  }
  75% {
    border-bottom: 2px solid #ff3399;
  }
  100% {
    border-bottom: 2px solid #6666ff;
  }
}

.menu {
  margin: auto;
  width:60%;
  text-align:center;
  padding:0 20px;
  background: #fff;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}/*
.menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}*/
.top {
  width:80%;
  text-align:center;
  margin: auto;
  background: #fff;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button3{
  font-family: 'roboto';
  background: #4568DC;
  background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
  background: linear-gradient(to right, #B06AB3, #4568DC);
  border: none;
  display: block;
  width: 100%;
  margin: 10px auto;
  color: #fff;
  height: 40px;
  font-size: 16px;
  border-radius: 10px;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
.button6{
  font-family: 'roboto';
  background: #4568DC;
  background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
  background: linear-gradient(to right, #B06AB3, #4568DC);
  border: none;
  float:left;
  margin: 10px auto;
  color: #fff;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}
.rotlos{
  border: 2px solid orange;
  width:20%;
  height: 20%;
}
.main {
  width:70%;
  padding:0 20px;
  margin: auto;
  background: #fff;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}


form {
  padding-bottom: 20px;
}

h4{
  text-align: left;
  color: #B06AB3;
  padding-top: 20px;
}
h1{
  text-align: center;
  color: #B06AB3;
  padding-top: 20px;
}
h3{
  text-align: left;
  color: #B06AB3;
  padding-top: 10px;
}
.button2{
  font-family: 'roboto';
  background: #4568DC;
  background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
  background: linear-gradient(to right, #B06AB3, #4568DC);
  border: none;
  color: #fff;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}
.titol{
  color: black;
}

.right {
  float:left;
  width:20%;
  text-align:center;
}



@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .grid, .right {
    width:100%;
  }
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Galeria */

.grid {
  position: relative;
  width:70%;
  padding:0 20px;
  margin: auto;
  background: #fff;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;

}


.grid .item {
  position: absolute;
  display: block;
  padding: 0;
  margin-left: 10%;

}

.item.imagenes-cargadas{
  opacity: 1;
}


.grid .item-contenido {
  position: relative;
  opacity: 0;
  transition: opacity 0.5s linear 1s;
  padding-bottom: 20px;
}

.grid .item img {
  width 100%;
  cursor: pointer;
  vertical-align: top;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay.activo {
  display: flex;
}

.overlay img {
  max-width: 100%;
  border-radius: 15px;
}

.overlay .descripcion {
  display: block;
  background: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  max-width: 50%;
  margin-left: 25%;
}

.contenedor-img {
  position: relative;
}

.overlay #btn-cerrar-popup {
  background: none;
  font-size: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -25px;
  top: -20px;
}

/* comentaris */
.comentaris{
  float:left;
  width:70%;
  text-align:center;
  padding-left: 20px;
  margin: 1%;
  margin-left: 15%;
  margin-top: 1.5%;
  background: #fff;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.right {
  float:left;
  width:18%;
  padding:0 20px;
  text-align:center;
  margin: 1%;
  background: #fff;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
